.form{
  height: 450px;
  width: 380px;
  background-color: rgba(146, 34, 86, 0.152);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(154, 22, 64, 0.103);
  box-shadow: 10px 10px 19px 1px rgba(46, 0, 16, 0.47);
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 25px;
}

.form *{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.9px;
  outline: none;
  border: none;
}

.form2{
  height: 550px;
  width: 380px;
  background-color: rgba(146, 34, 86, 0.152);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(154, 22, 64, 0.103);
  box-shadow: 10px 10px 19px 1px rgba(46, 0, 16, 0.47);
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 25px;
}

.form2 *{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.9px;
  outline: none;
  border: none;
}

.h3{
  font-family: 'Playfair Display', serif;  
  color: #340017a3;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
}

.label{
  display: block;
  padding-top: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #340017a3;
}

.input{
  display: block;
  height: 35px;
  width: 90%;
  background-color: rgba(183, 154, 25, 0);
  border-bottom: #62381297 dashed 1px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 18px;
  font-weight: 300;
  margin-left: 10px;
}

.botao{
  margin-top: 80px;
  width: 100%;
  background-color: #ffdbbc00;
  color: #340017a3;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 900;
  border: #5400267e solid 2px;
  border-radius: 10px;
  cursor: pointer;
}

.botao:hover{
  background-color: #bd638127;
}



.listar{
  height: 450px;
  width: 380px;
  background-color: rgba(146, 34, 86, 0.152);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(154, 22, 64, 0.103);
  box-shadow: 10px 10px 19px 1px rgba(46, 0, 16, 0.47);
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 25px;
}

.listar *{
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.9px;
  outline: none;
  border: none;
}

.nome{
  color: #340017c3;
  padding-top: 30px;
  font-weight: 700;
}

.crypto{
  color: #34001796;
  font-weight: 700;
}

.senha{
  color: #641c3c82;
  font-size: 14px;
  margin-top: -17px;
  margin-left: 75px;
  font-weight: 100;
}

.deslogar{
  margin-top: 60px;
  width: 100%;
  background-color: #ffdbbc00;
  color: #340017a3;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 900;
  border: #5400267e solid 2px;
  border-radius: 10px;
  cursor: pointer;
}

.deslogar:hover{
  background-color: #bd638127;
}