<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>Faça seu cadastro</title>
</head>
<body>
  <div>

    <form method="post" action="/usuarios/cadastrar" class="form2">

         <div class="h3">Cadastro</div> 

          <label class="label">Usuário</label>
          <input class="input" type="text" placeholder='Informe seu nome de usuário' name="nome"/>

          <label class="label">Senha</label>
          <input class="input" type="password" placeholder='informe sua senha' name="senha"/>
          
          <label class="label">Confirmar senha</label>
          <input class="input" type="password" placeholder='confirme sua senha' name="confirmar"/>

          <input class="botao" type="submit" value="cadastrar" action="/usuarios/cadastrar"/>

      </form>

  </div>
</body>
</html>