<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>Faça seu login</title>
</head>
<body>
  <div>

      <form class="form"  method="post" action="/logar">

         <div class="h3">Login

         </div> 

          <label class="label">Usuário</label>
          <input class="input" type="text" placeholder='Informe seu nome de usuário' nome="usuario"/>

          <label class="label">Senha</label>
          <input class="input" type="text" placeholder='informe sua senha' nome="senha"/>
          
          <input class="botao" type="submit" value="login"/>

      </form>

  </div>
</body>
</html>