<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/servidor/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <title>Usuários cadastrados</title>
</head>
<body>
  <div>
  <div class="listar">
    <div class="h3">Usuários cadastrados</div>

    <% senhacrypto.forEach((usuario) => { %>
    <div class="nome"><%= usuario.nome %></div> 
    <div class="crypto">crypto:</div> 
    <div class="senha"><%= usuario.senha %></div>
    <% }) %>

  <form action="/deslogar" method="post">
    <input class="deslogar" type="submit" value="Deslogar">
  </form>

  </div>
  </div>
</body>
</html>